html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 0.9em Verdana, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

li {
  padding: 0.2em 0;
  }

/* Prevent elements hidden by Knockout from flashing on page load */
.hidden {
  display: none;
}

/* Map */
#map {
  height: 100%;
}

/* Sidebar */
.sidebar {
  position: absolute;
  background: url(../img/bg.png);
  left: 1em;
  top: 1em;
  z-index: 5;
  width: 310px;
  height: 95%;
  overflow: auto;
}

.app-title {
  text-align: center;
  font: 2em 'Vidaloka', serif;
  color: #060;
  margin: 0.2em 0;
}

.hide-btn,
.show-btn {
    margin: 0.5em 0 0 0.4em;
}

.hide-btn {
  text-align: left;
  font-size: 1.2em;
}

.zip {
  padding: 0.5em 1em 0;
}

.new-zip {
  text-align: center;
  font-size: 0.5em;
}

.attribution {
  font-size: 0.9em;
  margin: 1em .5em .0 .5em;
}

.results {
  padding: 0.25em 1em 0;
}

.results-title {
  font: 1.5em 'Vidaloka', serif;;
  color: #060;
}

/* Show Button (visible when sidebar minimized) */

.show-btn {
  position: absolute;
  left: 1em;
  top: 1em;
}


/* InfoWindow */

.info-window-container {
  overflow-y: auto;
}

.infowin-title {
  font: 1.3em 'Vidaloka', serif;
}

.disclaimer {
  font-style: italic;
}

@media screen and (max-width: 480px) {
  .app-title {
    font-size: 1.4em
  }

  .attribution,
  .disclaimer {
    font-size: 0.9em;
  }

  .sidebar {
    left: 0.4em;
    top: 0.4em;
    width: 190px;
  }

.show-btn {
  top: auto;
  bottom:2em;
}

  li {
    padding: 0.4em 0;
  }

  .results-title {
    font: 1em;
  }
}
